body
{
    background-color: rgb(64, 78, 104);
    color: rgb(220, 224, 245);
    font-size: 25px;
    font-family:'Titan One', cursive;
    ;
  
}
h1 {
color: rgb(0, 0, 0);
}
.first{
color: rgb(255, 255, 255);
text-align: center;
background-color: rgb(57, 67, 84); 
padding: 25px ;
border: 5px solid rgb;
font-size: 75px;
margin: 20px;

}
#id {
    color: rgb(182, 180, 202);
    text-align: center;
}

.second { 
    font-family: 'Inconsolata', monospace;;
    color: rgb(220, 224, 245);
    font-size: 25px;
    margin-left: 30px;
    text-align: justify;
    margin-right: 30px;
}

.third {
font-size: 15px;
font-family:'Inconsolata', monospace;;
color: white;
text-align: center;
}

.pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.titledesc {
    padding-left: 50px;
    
}