body
{
    background-color: rgb(135, 124, 111);
    color: rgb(72, 0, 255);
    font-size: 25px;
}
h1 {
color: rgb(0, 0, 0);
}
.first{
color: rgb(0, 0, 0);
text-align: center;
background-color: blanchedalmond; 
padding:30px  ;
border: 5px solid black;

}
#id {
    color: rgb(79, 75, 69);
    text-align: center;
}